*css {
    padding: auto;
    margin: auto;

}

.main-container {
    background-color:#4B4B4B;
    height: 733px;
   
}

.first-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 30px;
}

.circle1 {
    height: 400px;
    width: 400px;
    border: 40px solid black;
    border-color: blue;
    border-radius: 150%;
}

.circle2 {
    height: 400px;
    width: 400px;
    border: 40px solid black;
    border-color: black;
    border-radius: 150%;
}

.circle3 {
    height: 400px;
    width: 400px;
    border: 40px solid black;
    border-color: red;
    border-radius: 150%;
}

.second-row {
    display: flex;
    flex-direction: row;
    margin-left: 230px;
    gap: 40px;
    margin-top: -285px;

}

.circle4 {
    height: 400px;
    width: 400px;
    border: 40px solid black;
    border-color: yellow;
    border-radius: 150%;
}

.circle5 {
    height: 400px;
    width: 400px;
    border: 40px solid black;
    border-color: green;

    border-radius: 150%;
}