body {
    background-color: #071C2E;
}

.main-container {
    width: 38em;
    height: 17.5em;
    font-size: 37px;
    position: absolute;
}
.circle {
    width: 10em;
    height: 10em;
    border: 1em solid;
    border-radius: 50%;
    position: absolute;
}

.circle1 {
    border-color: #007AC9;
}

.circle2 {
    left: 13em;
}

.circle3 {
    border-color: #E10E49;
    left: 26em;
}
.circle4{
border-color: #FFA100;
top: 5.5em;
left: 6.5em;
}
.circle5{
    border-color: #009B3A;
    top: 5.5em;
    left: 19.5em;
}

.patch {
    width: 2em;
    height: 2em;
    position: absolute;
    overflow: hidden;
    border-color: transparent;
    border-style: solid;
    border-width: 5em 0 5em 10em;

}

.patch:before {
    content: "";
    width: 10em;
    height: 10em;
    position: absolute;
    top: -5em;
    left: -10em;
    border: 1em solid;
    border-radius: 50%;
}

.patch1:before {
    border-color: #007AC9;
}

.patch2 {
    left: 13em;
}

.patch3 {
    left: 13em;
    transform: rotate(100degree);
}

.patch4 {
    left: 26em;
    transform: rotate(100degree);
}

.patch4:before {
    border-color:#E10E49;
   
}
